[workspace]
members = ["russh-keys", "russh", "russh-config", "cryptovec"]

[patch.crates-io]
russh = { path = "russh" }
russh-keys = { path = "russh-keys" }
russh-cryptovec = { path = "cryptovec" }
russh-config = { path = "russh-config" }

[workspace.dependencies]
aes = "0.8"
async-trait = "0.1"
byteorder = "1.4"
digest = "0.10"
futures = "0.3"
hmac = "0.12"
log = "0.4"
openssl = { version = "0.10" }
rand = "0.8"
sha1 = { version = "0.10", features = ["oid"] }
sha2 = { version = "0.10", features = ["oid"] }
ssh-encoding = "0.2"
ssh-key = { version = "0.6", features = ["ed25519", "rsa", "encryption"] }
thiserror = "1.0"
tokio = { version = "1.17.0" }
