[workspace]
members = [
    "russh-keys",
    "russh",
    "russh-config",
    "cryptovec",
    "pageant",
    "russh-util",
]
resolver = "2"

[workspace.dependencies]
aes = "0.8"
async-trait = "0.1"
byteorder = "1.4"
bytes = "1.7"
digest = "0.10"
delegate = "0.13"
futures = "0.3"
hmac = "0.12"
log = "0.4"
rand = "0.8"
rsa = "0.9"
sha1 = { version = "0.10", features = ["oid"] }
sha2 = { version = "0.10", features = ["oid"] }
signature = "2.2"
ssh-encoding = { version = "0.2", features = ["bytes"] }
ssh-key = { version = "0.6", features = [
    "ed25519",
    "rsa",
    "p256",
    "p384",
    "p521",
    "encryption",
] }
thiserror = "1.0"
tokio = { version = "1.17.0" }
tokio-stream = { version = "0.1", features = ["net", "sync"] }
