name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: dtolnay/toolchain@v1

    - name: Build (no features enabled)
      run: cargo build --verbose

    - name: Build (all features enabled)
      run: cargo build --verbose --all-features

    - name: Check semver compatibility (russh)
      uses: obi1kenobi/cargo-semver-checks-action@v1
      with:
        crate-name: russh

  Clippy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: dtolnay/toolchain@v1

    - name: Clippy (no features enabled)
      run: cargo clippy -- -D warnings

    - name: Clippy (all features enabled)
      run: cargo clippy --all-features -- -D warnings

  Test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: dtolnay/toolchain@v1

    - name: Test (no features enabled)
      run: |
        eval `ssh-agent`
        cargo test --verbose
      env:
        RUST_BACKTRACE: 1

    - name: Test (all features enabled)
      run: |
        eval `ssh-agent`
        cargo test --verbose --all-features
      env:
        RUST_BACKTRACE: 1
